@charset "UTF-8";

/*Reset básico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#imagemdefundobody{
    background: black url('imagens/fundo-curvas-azuis.jpg') no-repeat center center fixed;
    background-size: cover;

    height: 100vh;
}

/*Corpo da página*/
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*cabeçalho*/
header {
    
    padding: 20px;
    background-color: #282c34;
    color: white;
}

header a {
    color: white;
    padding: 10px;
}

h1 {
    font-size: 3em;
    text-align: center;
}

p {
    text-align: justify;
}

/*seções*/
#sobre, #projetos {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
}



#projetos .projeto {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
}